$bg-color: #f2f2f2;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav__container {
  width: 100vw;
  height: 100px;
  background-color: $bg-color;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  list-style-type: none;
}


.btn {
  display: inline-block;
  background-color: $bg-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}